[submodule "01-react-foundation"]
	path = 01-react-foundation
	url = https://github.com/pandc19/react-native-01-react-foundation.git
[submodule "02-MyFirstApp"]
	path = 02-MyFirstApp
	url = https://github.com/pandc19/react-native-02-MyFirstApp.git
